<h1>Questions#index</h1>
<p>Find me in app/views/questions/index.html.erb</p>


<h1> Unanswered Questions </h1>

<% @unanswered_questions.each do |question| %>
  Question: <%= question.question %><br/>
<% end %>
