<body>
  <div class="header">


    <div class="header-wrapper db">
      <div class="header-title" style="text-align:center;">
        <h1 class="blue-text">Mentors+</h1>
        <!-- Dropdown Trigger -->
        <a class='dropdown-button btn' href='#' data-activates='dropdown1' style="text-align:center;">Filter By</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          <li><a href="#!">one</a></li>
          <li><a href="#!">two</a></li>
          <li><a href="#!">three</a></li>
          <li><a href="#!">four</a></li>
          <li><a href="#!">five</a></li>
        </ul>

      </div>
    </div>
    <!-- Fixed Masonry Filters -->
    <div class="categories-wrapper af lighten-1">
    </div>

  </div>
    <!-- Gallery -->
  <div>
    <div id="gallery">
      <div class="profile-container">

        <div class="profile-cards">
          <div class="gallery-item custom-container">

            <div class="row custom-container">
            <% @users.each do |user| %>
                  <div class="col s12 m3 l3 custom-spacing">

                  <!-- <div class="element" style="display:float; width:25%"> -->
                    <div class="card blue-grey darken-1">

                      <div class="card-image">
                        <img src="/assets/images/empty_profile.jpg">
                      </div>

                      <div class="card-content white-text">
                        <span class="card-title"><%= link_to (user.first_name + " " + user.last_name), user_path(user) %></span>
                        <p>A little about me...</p>
                      </div>
                      <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                      </div>
                    </div>
                  </div>
            <% end %>
          </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>
<!--
user{
first_name
last_name
email
password
}

-->
