<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 m4 s4">
        <h5 class="white-text">Company</h5>
        <ul>
          <li>About</li>
          <li>Jobs</li>
          <li>Press</li>
          <li>News</li>
        </ul>
      </div>

      <div class="col l4 m4 s4">
        <h5 class="white-text">Communities</h5>
        <ul>
          <li>Developers</li>
          <li>Students</li>
        </ul>
      </div>

      <div class="col l4 m4 s4">
        <h5 class="white-text">Our Code</h5>
        <ul>
          <a class="grey-text text-lighten-3" target='_blank' href="https://github.com/SrishtiSehtia/develop_me"><i class="fab fa-github fa-3x"></i></a>
          <li><a class="grey-text text-lighten-3" target='_blank' href="https://github.com/SrishtiSehtia">Srishti</a></li>
          <li><a class="grey-text text-lighten-3" target='_blank' href="https://github.com/TheForce88">Elaine</a></li>
          <li><a class="grey-text text-lighten-3" target='_blank' href="https://github.com/marcellino-ornelas">Marcellino</a></li>
          <li><a class="grey-text text-lighten-3" target='_blank' href="https://github.com/passion-pixel">Natalie</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
    © 2018 Copyright ShredX
    </div>
  </div>
</footer>
