<footer class="page-footer blue">
  <div class="container"></div>
    <div class="row"></div>
      <div class="col 16 s12">
        <h5 class="white-text">About Develop Me</h5>
        <p class="grey-text text-lighten-4">
          "We are a team of Web Developers at General Assembly working together on this application development project."
        </p>
      </div>

      <div class="col 13 s12">Text</div>
        <h5 class="white-text">Settings</h5>
        <ul></ul>
      </div>
      <div class="col 13 s12">Text</div>
        <h5 class="white-text">Connect</h5>
        <ul></ul>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright Developed by Team ShredX
      <a class="orange-text text-lighten-3" href="http://github.com"></a>
    </div>
  </div>
</footer>
